<label>Account Taxation</label>
  <input type="checkbox" name="foo" value="bar1"> U.S Taxation<br/>
  <input type="checkbox" name="foo" value="bar1">  Income Tax<br/>
  <input type="checkbox" name="foo" value="bar1">   Sales Tax<br/>
  <input type="checkbox" name="foo" value="bar1">  Service Tax<br/>
  

<label>Tax Planning</label>
    <input type="checkbox" name="foo" value="bar1">  PPF<br/>
    <input type="checkbox" name="foo" value="bar1">  EPF<br/>
    <input type="checkbox" name="foo" value="bar1">  80/C<br/>
    <input type="checkbox" name="foo" value="bar1">  80/G<br/>
    
    
    
<label>Investment</label>
  <input type="checkbox" name="foo" value="bar1"> Stocks<br/>
  <input type="checkbox" name="foo" value="bar1">  Browser's Property<br/>
  <input type="checkbox" name="foo" value="bar1"> Others<br/>
 
<input type="button" onclick="window.location = '/categories/connect_facebook';">